<a href="https://colab.research.google.com/github/crazy85128x/ML0930/blob/master/nlp_sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 5s 0us/step

In [7]:
import glob
# glob.glob("/root/.keras/datasets/aclImdb/train/pos/*")
import os
import pandas as pd
def read(path):
    with open(path, "r", encoding="utf-8") as f:
        content = f.read()
    return content

def get_data(t):
    dn = os.path.dirname(dataset)
    pattern = os.path.join(dn, "aclImdb", t, "pos", "*.txt")
    pos = glob.glob(pattern)
    pattern = os.path.join(dn, "aclImdb", t, "neg", "*.txt")
    neg = glob.glob(pattern)
    sentiments = [1] * len(pos) + [0] * len(neg)
    contents = map(read, pos + neg)
    df = pd.DataFrame({
        "contents":contents,
        "sentiment":sentiments
    })
    return df

train_df = get_data("train")
test_df = get_data("test")
test_df

                                                contents  sentiment
0      It kept me on the edge of my seat. True, the s...          1
1      Born in 1946 I was about eight years old when ...          1
2      In the 60's Cleveland television audiences cou...          1
3      I think it is a brilliant show with cool talki...          1
4      John Wayne's first starring role just blew me ...          1
...                                                  ...        ...
24995  I am not a big fan of the Spielberg/Cruise ver...          0
24996  The director infuses this film with false dept...          0
24997  As a flying and war movie buff, this ranks at ...          0
24998  I rented this movie under the impression that ...          0
24999  They prove that the cops, when they can't find...          0

[25000 rows x 2 columns]

In [9]:
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
# fit_on_texts: fit_transform 的 fit
tok.fit_on_texts(train_df["contents"])
# seq: 把所有單字換成數字的序列
train_df_seq = tok.texts_to_sequences(train_df["contents"])
test_df_seq = tok.texts_to_sequences(test_df["contents"])

In [10]:
# tok.word_index
tok.index_word[2]

'and'

In [11]:
pd.DataFrame(train_df_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0         1    17     6    84     2    10  ...   NaN   NaN   NaN   NaN   NaN   NaN
1        11     6     4     4    84   399  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        14     3   193    55   764   334  ...   NaN   NaN   NaN   NaN   NaN   NaN
3        11    17    69    35    73    12  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        11  1250     4  1976  1477   343  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995     9     6  1295    12     3   226  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996     3    19    37   477  1695     2  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    11     6     1  1124     4   592  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998    10  1081  1884    12   143  1644  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    14    13     5    27   870     3  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]