<a href="https://colab.research.google.com/github/crazy85128x/ML0930/blob/master/nlp_sentiment_average.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 5s 0us/step

In [2]:
import glob
# glob.glob("/root/.keras/datasets/aclImdb/train/pos/*")
import os
import pandas as pd
def read(path):
    with open(path, "r", encoding="utf-8") as f:
        content = f.read()
    return content

def get_data(t):
    dn = os.path.dirname(dataset)
    pattern = os.path.join(dn, "aclImdb", t, "pos", "*.txt")
    pos = glob.glob(pattern)
    pattern = os.path.join(dn, "aclImdb", t, "neg", "*.txt")
    neg = glob.glob(pattern)
    sentiments = [1] * len(pos) + [0] * len(neg)
    contents = map(read, pos + neg)
    df = pd.DataFrame({
        "contents":contents,
        "sentiment":sentiments
    })
    return df

train_df = get_data("train")
test_df = get_data("test")
test_df

                                                contents  sentiment
0      It kept me on the edge of my seat. True, the s...          1
1      Born in 1946 I was about eight years old when ...          1
2      In the 60's Cleveland television audiences cou...          1
3      I think it is a brilliant show with cool talki...          1
4      John Wayne's first starring role just blew me ...          1
...                                                  ...        ...
24995  I am not a big fan of the Spielberg/Cruise ver...          0
24996  The director infuses this film with false dept...          0
24997  As a flying and war movie buff, this ranks at ...          0
24998  I rented this movie under the impression that ...          0
24999  They prove that the cops, when they can't find...          0

[25000 rows x 2 columns]

In [3]:
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
# fit_on_texts: fit_transform 的 fit
tok.fit_on_texts(train_df["contents"])
# seq: 把所有單字換成數字的序列
x_train_seq = tok.texts_to_sequences(train_df["contents"])
x_test_seq = tok.texts_to_sequences(test_df["contents"])

In [4]:
# tok.word_index
tok.index_word[2]

'and'

In [5]:
# pd.DataFrame(train_df_seq)
# truncating: pre 12345 -> 45 post 12345 -> 12
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, 512)
x_test_pad = pad_sequences(x_test_seq, 512)
pd.DataFrame(x_test_pad)

       0    1    2    3    4    5    ...  506   507   508   509   510   511
0        0    0    0    0    0    0  ...   62   627   277    22   377   146
1        0    0    0    0    0    0  ...   11   730    18     9  1674    69
2        0    0    0    0    0    0  ...   10   121   143    61     3   504
3        0    0    0    0    0    0  ...  369     7     7    15    58  1911
4        0    0    0    0    0    0  ...    4   578   476    20     1     5
...    ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...   ...
24995    0    0    0    0    0    0  ...    1  1710  1064  1214  1688  2335
24996    0    0    0    0    0    0  ...   72   190    15  2484     8   110
24997    0    0    0    0    0    0  ...   11     6    21    28     4    95
24998    0    0    0    0    0    0  ...    5    11    52   558     4    55
24999    0    0    0    0    0    0  ...   64    11    19   108   208   156

[25000 rows x 512 columns]

In [6]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, GlobalAveragePooling1D
from tensorflow.keras.layers import Dense, Flatten, Dropout

layers = [
  # 1~3000(token) + 0(padding)
  # params: 3001 * 128
  Embedding(3001, 128, mask_zero=True, input_length=512),
  GlobalAveragePooling1D(),
  Dense(2, activation="softmax")  
]
model = Sequential(layers)
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 512, 128)          384128
_________________________________________________________________
global_average_pooling1d (Gl (None, 128)               0
_________________________________________________________________
dense (Dense)                (None, 2)                 258
=================================================================
Total params: 384,386
Trainable params: 384,386
Non-trainable params: 0
_________________________________________________________________

In [7]:
from tensorflow.keras.losses import SparseCategoricalCrossentropy
from tensorflow.keras.optimizers import Adam
model.compile(loss=SparseCategoricalCrossentropy(),
       optimizer=Adam(),
       metrics=["accuracy"])

In [8]:
y_train = train_df["sentiment"]
y_test = test_df["sentiment"]

In [9]:
# epoch: 整份資料要看幾遍
# 60000筆, 2epoch, 200batch -> 60000 * 2 / 200次調整
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
callbacks = [
    ModelCheckpoint("model.h5", save_best_only=True),
    EarlyStopping(patience=5, restore_best_weights=True)
]
model.fit(x_train_pad, 
     y_train,
     batch_size=100,
     epochs=50,
     validation_split=0.1,
     callbacks=callbacks,
     verbose=2)

Epoch 1/50
225/225 - 4s - loss: 0.5717 - accuracy: 0.7136 - val_loss: 0.4940 - val_accuracy: 0.7788
Epoch 2/50
225/225 - 4s - loss: 0.3603 - accuracy: 0.8643 - val_loss: 0.4092 - val_accuracy: 0.8208
Epoch 3/50
225/225 - 4s - loss: 0.2909 - accuracy: 0.8874 - val_loss: 0.3597 - val_accuracy: 0.8468
Epoch 4/50
225/225 - 4s - loss: 0.2593 - accuracy: 0.9002 - val_loss: 0.3322 - val_accuracy: 0.8628
Epoch 5/50
225/225 - 4s - loss: 0.2401 - accuracy: 0.9076 - val_loss: 0.3106 - val_accuracy: 0.8748
Epoch 6/50
225/225 - 4s - loss: 0.2279 - accuracy: 0.9129 - val_loss: 0.3365 - val_accuracy: 0.8608
Epoch 7/50
225/225 - 4s - loss: 0.2193 - accuracy: 0.9162 - val_loss: 0.3078 - val_accuracy: 0.8780
Epoch 8/50
225/225 - 4s - loss: 0.2118 - accuracy: 0.9198 - val_loss: 0.3487 - val_accuracy: 0.8592
Epoch 9/50
225/225 - 4s - loss: 0.2065 - accuracy: 0.9230 - val_loss: 0.3446 - val_accuracy: 0.8608
Epoch 10/50
225/225 - 4s - loss: 0.2016 - accuracy: 0.9236 - val_loss: 0.3435 - val_accuracy: 0.8656
Epoch 11/50
225/225 - 4s - loss: 0.1980 - accuracy: 0.9265 - val_loss: 0.3378 - val_accuracy: 0.8688
Epoch 12/50
225/225 - 4s - loss: 0.1954 - accuracy: 0.9258 - val_loss: 0.3996 - val_accuracy: 0.8448

In [10]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 3s 4ms/step - loss: 0.2908 - accuracy: 0.8824

[0.2907903790473938, 0.8823999762535095]